body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 25%;
  border: 5px double #6B5B95;
  border-radius: 10px;
  width: 50%;
  align-self: center;
  padding: 15px;
  flex-direction: column;
}

.signupform{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  border: 2px solid black;
  padding: 15px;
}

.signuplink{
  margin-top: 25px;
}

.home{
  margin-top: 15px;
  text-align: center;
}

.pokelist{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.indivPokemon{
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 45%;
  padding: 5px;
}

.catch{
  align-items: center;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}